body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: white;
}
/*Global*/
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
/*header part*/ 

img.logo {
	height: 70px;
	width: 260px;
}


header {
	background: white;
	color: #fb5b11;
	padding-top: 30px;
	min-height: 30px;
}

.active {
	border-bottom: #fb5b11 5px solid;
}

header li:hover {
	border-bottom: 5px solid #fb5b11;
}

header a {
	color:  #0078ff;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}

header ul {
	margin: 0;
	padding: 0;
}

header li {
	float: left;
	display: inline;
	padding:20px;
}
header #branding {
	float: left;
}
header #branding h1 {
	margin: 0;
}
header nav {
	float: right;
	margin-top: 0;
}

#banner {
	min-height: 400px;
	background: url('contact.jpg') no-repeat 0 -800px; 
	text-align: left;
	color: white; 
	text-align: center;
}


.banner_text h1 {
	font-size: 24px;
	font-weight: bold;
}

span.contact {
	color:#fb5b11;
	border-bottom: 5px solid #fb5b11;
}

/*================================================
START OF CONTACT FORM STYLING 
===============================================*/

.form {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, 50%);
	text-align: center;
}
input {
	width: 100%;
	margin: 20px 0;
	background: rgba(0, 0, 0, 0,);
	border: none;
	border-bottom: 1px solid #0078ff;
}

::-webkit-input-placeholder {
	color: #EAEAEA;
	font-size: 12px;
	letter-spacing: 2px;

}
#msg {
	margin-top: 40px;

}

button {
	padding: 20px 32px;
	font-size: 12px;
	background: #0078ff;
	border: none;
	border-radius: 4px;
	margin-top: 20px;
	color: #fff;
}






/*================================================
END OF CONTACT FORM STYLING 
===============================================*/


/*================================================
START OF FOOTER STYLING 
===============================================*/

.footer {
	background: linear-gradient(83deg, #fb5b11, red);
	text-align: center;
	padding: 30px;
	margin-top: 35%;
	color:white;
	font-family: lato, sans-serif;

}

.footer-items {
	/*display: flex;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 30px;
	margin: 20px auto;
}



.footer_ul li {
	padding: 10px;
	list-style-type: none;
	text-align: left;
}

.footer_ul li a {
	text-decoration: none;
	color:white;
}
 .footer_items_header {
 	text-transform: uppercase;
 	border-bottom: 5px solid white;
 	margin: 10px;
 }

 .footer-items div {
 	margin: 0 50px 0 50px;
 }

/*================================================
END OF  FOOTER STYLING 
===============================================*/


